// Section Contact
.contact
	flex-flow column
	align-items center
	&__description
		margin-bottom 2rem
	&__social
		display flex
		justify-content space-around
		align-items center
		margin-bottom 1rem
		&__link
			padding 0 .5rem
			text-decoration none
			font-size 1.6rem
			transition all .3s ease
			&:hover
				transform scale3d(1.1, 1.1, 1.1)
