// Section Past Experience
.experience
	flex-flow column
	align-items center
	&__item
		&__title
			margin-bottom 0
			&__role
				color $accent
		&__subtitle
			margin 0
			font-weight normal
			color $dark-gray
		&__task-list
			&__item__title
				color $accent
		&:last-child
			margin-bottom 3rem
	// &__social
	// 	display flex
	// 	justify-content space-around
	// 	align-items center
	// 	margin-bottom 1rem
	// 	&__link
	// 		padding 0 .5rem
	// 		text-decoration none
	// 		font-size 1.6rem
	// 		transition all .3s ease
	// 		&:hover
	// 			transform scale3d(1.1, 1.1, 1.1)
