// Section Tools
.my-tools
	flex-flow column nowrap
	justify-content center
	align-items center
	&__container
		display flex
		flex-wrap wrap
		width 100%
		justify-content space-between
		margin-top 2rem
	&__tool
		display flex
		flex-direction column
		margin .5rem
		font-size 1.5rem
		width 45%
		&__content-bar
			background-color #ededed
			border-radius 2px
			width 100%
			&__bar
				font-size 1.15rem
				text-align center
				border-radius 2px
				padding .1rem 0
				color white
