@import 'nib/vendor'
vendor-prefixes = o ms webkit moz official

/*-------CONFIGURACION VISTA SMARTPHONE----------*/

/*-------CONFIGURACION VISTA TABLETS----------*/

@media screen and (min-width: 450px)
	
@media screen and (min-width: 670px)
	
/*-------CONFIGURACION VISTA DESKTOP----------*/
