@import 'nib/vendor'

vendor-prefixes = o ms webkit moz official

$primary = #37474F
$secondary = #4392F1
$accent = #119DA4
$gray = #F5F0F6
$black = #2e3436

body
	color $black
	font-family 'karla', sans-serif

/* UI Components */
.article--hide
	left -100%
	animation-name hideOut
	animation-duration .5s
.article--show
	left 0
	animation-name showUp
	animation-duration .5s
.jf-links
	color white
	transition all .3s ease
	&:hover
		color $primary
.portfolio-item--in
	filter grayscale(0%)
	animation effectWorks .4s ease-in forwards
.portfolio-item--out
	filter grayscale(100%)
	animation effectWorksInvert .4s ease-out forwards
.portfolio--in
	display block
	animation portfolioIn .4s ease-in forwards
.portfolio--out
	animation portfolioOut .4s ease-out forwards


@import 'components/*'
@import 'components/sections/*'

// Section Control Actions
.control-actions
	display none

// *************************** Viewport width ******************************
@media screen and (min-width : 1500px)
	body
		font-size 24px

	// Section menu
	.header
		&__menu-list__link
			padding 1.5rem 2rem

	// Section Container Articles
	.welcome, .portfolio, .my-tools
		padding 0 8rem
		margin 3rem 0

	// Section container myself
	.myself
		&__footer
			&__by
				font-size 1.2rem
			&__social
				& .myself__footer__link
					font-size 3rem

// *************************** Viewport width ******************************
@media screen and (max-width : 1150px)

	// Section Container myself
	.myself__profile
		font-size .9rem

// *************************** Viewport width ******************************
@media screen and (max-width : 1065px)

	// Section Container myself
	.myself__footer__social
		order -1

// *************************** Viewport width ******************************
@media screen and (max-width : 1014px)
	// Section Container myself
	.myself__profile
		padding 0 1.5rem
	.myself__fullname
		font-size 1.7rem

	// Section Container Tools
	.tool
		flex 1 1 auto

// *************************** Viewport width ******************************
@media screen and (max-width : 950px)
	body
		overflow hidden
		position relative
	.blanketBody
		background $black
		display none
		height 100vh
		opacity .4
		position fixed
		top 0
		width 100vw
		z-index 4

	// Section Control Actions
	.control-actions
		background-color $primary
		font-size .4rem
		color white
		top 0
		position absolute
		width 100vw
		z-index 9
		&__menu
			padding .5rem 1rem
			font-size 1.5rem

	// Section Container Master
	.container-master
		flex-direction column
		& .container__myself
		& .container__articles
			width 100%

	// Section Container Avatar
	.container__avatar
		display none

	// Section Container Articles
	.container__articles
		display none
	.welcome, .portfolio, .my-tools
		display none
		padding 0 2rem
		margin-top 2.5rem
		&__title
			text-align center
		&__blockquote
			width 100%
	.menu
		display none

	// Section Container myself
	.myself
		position relative
		border none
		&__menu__action
			display block
			position absolute
			font-size 1.6rem
			left .8rem
			top .5rem
			z-index 1
		&__container__menu
			display block
			position fixed
			top 0
			left -100%
			width 55%
			height 100vh
			background-color white
			z-index 11
			padding 0 1rem
			border-right 5px solid $accent
			^[0]__menu
				padding 1.5rem 0
				margin 0
				&__link
					padding 1rem 0
					display block
					align-items center
					color $black
					text-decoration none
					font-size 1.1rem
					& i
						font-size 1.15rem
						padding-right 1rem
					& + ^[2]__link
						border-top 1px solid $gray
				&__link--active
					color $accent
				&__item
					display flex
					.material-icons
						padding-right .5rem

	// Section container portfolio
	.portfolio
		&__works__item
			margin 0 .8rem
			&__logo
				width 3.9rem
		&__works-descriptions
			&__item
				width 100%
			&__tools
				flex-direction column
				align-items center
				& div
					margin .4rem 0
					font-size 1rem

	// Section Tools
	.my-tools__tool
		width 100vw
		&__content-bar
			width 100%
