body{font-family:'Roboto';font-size:16px}
.Header{background:#3f51b5;border-top:1em solid #303f9f;color:#fff;font-size:.73em;position:relative;padding-bottom:2em;-webkit-box-shadow:0 1px 2px #666;box-shadow:0 1px 2px #666}
.Header-contentMe{margin:4em 8em 0 0}
.Header-title{text-align:right;margin:0}
.Header-career,.Header-organizer{margin:0;text-align:right}
.Header-community{color:#64dd17}
.Header-avatarContent{width:100%;position:absolute;top:3.5em}
.Header-avatar{right:1em;position:absolute;width:6em;background:#fff;-webkit-border-radius:50%;border-radius:50%}
