@import 'nib/vendor'

vendor-prefixes = o ms webkit moz official

primaryColor = #607D8B
secondaryColor = #455A64
accentColor = #7C4DFF
Grey = #B6B6B6
myBlack = #2e3436

/*Animations*/
@keyframes showUp
	from
		left 100%
	to
		left 0

@keyframes hideOut
	from
		left 0
	to
		left -100%

/* UI Components */
.article--hide
	left -100%
	animation-name hideOut
	animation-duration .5s
.article--show
	left 0
	animation-name showUp
	animation-duration .5s

body
	color myBlack
	font-family 'Karla', sans-serif

.jf-links
	color white
	transition all .3s ease
	&:hover
		color accentColor
// Section Container Master
.container-master
	display flex
	& .container__myself
		width 30%
		background-color myBlack
		color white
		height 100vh
		z-index 2
	& .container__articles
		display flex
		flex-direction column
		width 70%
		height 100vh

// Section Container Myself
.myself
	display flex
	flex-flow column wrap
	height 100%
	box-shadow 2px 0 4px myBlack
	&__container__avatar
		margin 0
		width 55%
		^[0]__avatar
			border 3px solid accentColor
			width @width
			border-radius 50%
			transition all .2s ease
	&__container__menu
	&__menu__action
		display none
	&__profile
		display flex
		flex-flow column wrap
		align-items center
		justify-content center
		flex 1 1 auto
		text-align center
	&__container-logo
		margin 0
		width 70%
		^[0]__logo
			width 100%
	&__fullname
		margin 1rem 0 0
		font-weight 400
	&__description
		margin 0 0 1rem
	&__footer
		display flex
		flex-flow row wrap
		justify-content space-around
		&__by
			text-align center
			font-size .85rem
			letter-spacing 1px
			& p
				margin .4rem 0
		&__social
			display flex
			justify-content space-around
			align-items center
			& .myself__footer__link
				padding 0 .5rem
				color white
				text-decoration none
				font-size 1.6rem
				transition all .3s ease
				&:hover
					color accentColor

// Section Container Articles
.container__articles
	overflow-x hidden
	overflow-y scroll
.welcome, .portfolio, .my-tools
	display none
	position relative
	padding 0 4rem
	^[0]__title
		border-bottom 1px solid Grey
		margin-bottom .5rem
	^[0]__description
		margin .5rem 0 0

// Section Menu
.menu
	display flex
	justify-content flex-end
	margin-bottom 2rem
	width 100%
	z-index 1
.menu-list
	display flex
	margin 0
	padding 0
.menu-list__link
	color myBlack
	list-style-type none
	text-decoration none
	padding .8rem 1rem
	position relative
	&:hover
		color accentColor
		transition .5s ease all
	&--active .menu-list__item
		color accentColor
	.menu-list__item
		display flex
		align-items center

// Section Welcome
.welcome
	display flex
	flex-flow column nowrap
	align-items center
	&__description
		margin-bottom 2.5rem
	&__community
		color secondaryColor
		&:hover
			color accentColor

// Section Portfolio
.portfolio
	flex-direction column
	align-items center
	&__blockquote
		border-left 5px solid accentColor
		padding .5rem .4rem
		width 60%
		margin 1rem auto
		background-color rgba(124, 77, 255, .1)
		font-size .95rem
	&__repos
		color myBlack
		&:hover
			color accentColor
	&__container-works
		display flex
		flex-flow column wrap
		align-items center
		justify-content center
		flex 1 0 auto
	&__work
		border-left 4px solid accentColor
		color myBlack
		text-align justify
		margin 1rem 0
		padding 0 .4rem
		display flex
		align-items center
		text-decoration none
		&__info
			&__description
				margin 0
				padding-bottom .5rem
				border-bottom 1px solid #dedede
				&:hover
					text-decoration underline
			&__tools
				display flex
				justify-content space-between
				margin-top .5rem
				&__role
					font-style italic
					color #565656
		&__logo
			height 6rem
			margin-right 1rem
	&__container-educations
		display flex
		flex-direction column
		align-items flex-start
		width 100%
	&__education
		flex 1 0 auto
		display flex
		justify-content center
		align-items center
		border-left 2px solid accentColor
		margin .2rem 0
		transition .2s all ease
		&:hover
			border-left 5px solid accentColor
		&:hover &__info
			cursor pointer
			text-decoration underline
		&__image
			width 5rem
		&__info
			color myBlack
			text-decoration none
			p
				margin 0

// Section Tools
.my-tools
	flex-flow column nowrap
	justify-content center
	align-items center
	&__container
		display flex
		flex-wrap wrap
		width 100%
		justify-content space-between
		margin-top 2rem
	&__tool
		display flex
		flex-direction column
		margin .5rem
		font-size 1.5rem
		width 45%
		&__content-bar
			background-color #dedede
			border-radius 20px
			width 100%
			&__bar
				font-size 1.15rem
				text-align center
				border-radius 20px
				padding .2rem 0
				color white

// Section Control Actions
.control-actions
	display none

// *************************** Viewport width ******************************
@media screen and (min-width : 1500px)
	body
		font-size 24px

	// Section menu
	.header
		&__menu-list__link
			padding 1.5rem 2rem

	// Section Container Articles
	.welcome, .portfolio, .my-tools
		padding 0 8rem
		margin 3rem 0

	// Section container myself
	.myself
		&__footer
			&__by
				font-size 1.2rem
			&__social
				& .myself__footer__link
					font-size 3rem

// *************************** Viewport width ******************************
@media screen and (max-width : 1150px)

	// Section Container myself
	.myself__profile
		font-size .9rem

// *************************** Viewport width ******************************
@media screen and (max-width : 1065px)

	// Section Container myself
	.myself__footer__social
		order -1

// *************************** Viewport width ******************************
@media screen and (max-width : 1014px)
	// Section Container myself
	.myself__profile
		padding 0 1.5rem
	.myself__fullname
		font-size 1.7rem

	// Section Container Tools
	.tool
		flex 1 1 auto

// *************************** Viewport width ******************************
@media screen and (max-width : 950px)
	body
		overflow hidden
		position relative
	.blanketBody
		background myBlack
		display none
		height 100vh
		opacity .4
		position fixed
		top 0
		width 100vw
		z-index 4

	// Section Control Actions
	.control-actions
		background-color myBlack
		font-size .5rem
		color white
		top 0
		position absolute
		width 100vw
		justify-content space-between
		z-index 9
		box-shadow 0 1px 5px myBlack
		&__home
		&__menu
			padding .6rem 2rem
			font-size 1.5rem

	// Section Container Master
	.container-master
		flex-direction column
		& .container__myself
		& .container__articles
			width 100%

	// Section Container Avatar
	.container__avatar
		display none

	// Section Container Articles
	.container__articles
		display none
	.welcome, .portfolio, .my-tools
		display none
		padding 0 2rem
		margin-top 2.5rem
		&__title
			text-align center
		&__blockquote
			width 100%
	.menu
		display none

	// Section Container myself
	.myself
		position relative
		border none
		&__menu__action
			display block
			position absolute
			font-size 2rem
			right .8rem
			top .5rem
			z-index 1
		&__container__menu
			display block
			position fixed
			top 0
			right -100%
			width 55%
			height 100vh
			background-color white
			z-index 11
			padding 0 1rem
			border-left 5px solid accentColor
			^[0]__menu
				padding .8rem 0
				margin 0
				&__link
					padding 1rem 0
					display block
					align-items center
					color myBlack
					text-decoration none
					font-size 1rem
					& + ^[2]__link
						border-top 1px solid Grey
				&__link--active
					color accentColor
				&__item
					display flex
					.material-icons
						padding-right .5rem

	// Section container portfolio
	.portfolio
		&__work
			display inline-block
			&__logo
				float left
			&__info__tools
				flex-direction column
				align-items center
				&__role
					margin-bottom .6rem

	// Section Tools
	.my-tools__tool
		width 100vw
		&__content-bar
			width 100%
