// Section Container Articles
.container__articles
	overflow-x hidden
	overflow-y scroll
.welcome, .portfolio, .experience
	display none
	position relative
	padding 0 6rem
	^[0]__title
		font-family 'Rambla', monospace
		text-transform uppercase
		letter-spacing 1px
		border-bottom 1px solid $gray
		margin-bottom .5rem
	^[0]__description
		margin .5rem 0 0
