// Section Container Articles
.container__articles
	overflow-x hidden
	overflow-y scroll
.welcome, .portfolio, .my-tools, .medium
	display none
	position relative
	padding 0 4rem
	^[0]__title
		border-bottom 1px solid $gray
		margin-bottom .5rem
	^[0]__description
		margin .5rem 0 0
