// Section Menu
.menu
	display flex
	justify-content flex-end
	align-items center
	height 4.5rem
	margin-bottom 1rem
	width 100%
	z-index 1
.menu-list
	display flex
	margin 0
	padding 0
.menu-list__link
	color $black
	font-size 1.05rem
	text-transform uppercase
	list-style-type none
	text-decoration none
	padding .8rem 1rem
	position relative
	&:nth-child(n+0)
		border-right 1px solid #dedede
	&:last-child
		border-right 0px
	&:hover
		color $accent
		transition .5s ease all
	&--active .menu-list__item
		color $accent
	.menu-list__item
		display flex
		align-items center
		&__soon
			background-color $secondary
			font-size .6rem
			color $gray
			margin-left .4rem
			padding .2rem .3rem
			border-radius 3px
		& .fa, & .fab
			padding-right .4rem
