// Section Menu
.menu
	align-items center
	display flex
	justify-content flex-end
	min-height 4.5rem
	margin-bottom 1rem
	width 100%
	z-index 1
.menu-list
	display flex
	margin 0
	padding 0
.menu-list__link
	color $black
	font-size .97rem
	text-transform uppercase
	list-style-type none
	text-decoration none
	padding .8rem 1rem
	position relative
	&:nth-child(n+0)
		border-right 1px solid #dedede
	&:last-child
		border-right 0px
	&:hover
		color $secondary
		transition .5s ease all
	&--active .menu-list__item
		color $secondary
	.menu-list__item
		display flex
		align-items center
		& .fa, & .fab
			padding-right .4rem
