// Section Portfolio
.portfolio
	flex-direction column
	align-items center
	&__blockquote
		border-left 4px solid $accent
		color #555
		padding .5rem .4rem
		width 60%
		margin 1rem auto
		background-color rgba(17, 157, 164, .1)
		font-size .95rem
		display flex
		align-items center
		&__icon
			color $gray
			margin-left .4rem
			margin-right .8rem
	&__repos
		color $black
		&:hover
			color $accent
	&__works
		display flex
		flex-flow row wrap
		&__item
			border 1px solid $gray
			box-shadow 1px 1px 5px $gray
			display flex
			flex-direction column
			flex-basis 45%
			justify-content space-between
			margin .2rem
			&__header
				align-items center
				background-color $gray
				display flex
				justify-content space-between
				padding 0 .5rem
				&__logo
					width 16%
				&__title
					letter-spacing 1px
					font-family 'Rambla', monospace
					&__link
						color orange
			&__resume
				margin .5rem .5rem 0
				padding-bottom 1rem
		&__tools
			border-top 1px solid $gray
			display flex
			justify-content space-between
			margin 0 .5rem .5rem
			padding-top .5rem
			&__role
				color #777
				font-size .9rem
