/*Animations*/
@keyframes showUp
	from
		top 100%
	to
		top 0

@keyframes hideOut
	from
		left 0
	to
		left -100%

// Animación para loader hexagono
@keyframes loaderHexagon
	from
		transform rotate3d(0, 1, 0, 0deg)
	to
		transform rotate3d(0, 1, 0, 180deg)
